* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div {
    color: white;
    /* border-radius: 0.5em; */
    /* font-size: 1.2rem; */
    /* text-align: center; */

}

.card {
    margin: 10vh;
    width: 400px;
    height: 300px;
    background: goldenrod;
    position: relative;
}

.text {
    position: absolute;
    width: fit-content;
    padding: 1em;
    border: 2px dotted black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    }

body {
    border: 2px solid black;
    height: 2000px;
}

nav {
    background: pink;
    position: sticky;
    top: 0px;

}

.box1 {
    position: relative;
    top: 13em;
    left: 13em;
    width: 100px;
    height: 100px;
    background: blue;
    line-height: 100px;
}

.box2 {
    position: absolute;
    top: 4px;
    right: 4px;
    /* z-index: -1; */
    background: green;
    line-height: 30px;
}

.action_button {
    position: sticky;
    top: 90vh;
    left: 80vw;
    background: yellowgreen;
    width: 3em;
    height: 3em;
    border-radius: 100%;
    text-align: center;
    font-weight: bolder;
    line-height: 3em;
    box-shadow: 2px 2px 2px black;
}