* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0.5em 2em;
}

.right {
    font-size: 1.2rem;
    font-weight: 600;
}

.right span {
    margin-right: 1em;
}

section {
    font-size: clamp(1rem,2.5vw,1.8rem);
    margin: 2em 4em;
}