* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;

    /* grid-template: 50px 200px 100px /  1fr 2fr; */

    /* grid-template-rows: 50px 200px 100px; */
    grid-template-columns: 1fr 1fr;

    /* grid-template-columns:repeat(auto-fill, minmax(100px, 1fr)); */

    /* grid-template-areas: "head head head"
        "sidebar main main"
        "sidebar foot foot2"; */

    /* column-gap: 1em;
    row-gap: 1em; */
    gap: 0.6em;

    justify-items: center;    
     /* justify-content: space-around; */
    /* align-items: stretch; */
    width: 40em;
    height: 80vh;
    border: 2px solid red;



    div {
        border: 2px solid green;
        min-height: 4em;
        width: 4em;
    }
}

.box1 {
    background: rgb(237, 237, 9);
    border: 2px solid red;
    font-size: 3rem;
    /* grid-area: head; */

    /* grid-column-start: 1;
    grid-column-end: 4; */

    /* grid-column: 1 / span 3; */
}

.box2 {
    background: rgb(207, 183, 231);


    /* grid-row-start: 2;
    grid-row-end: 4; */

    /* grid-row: 2/4; */

    /* grid-row: 2 / span 2; */

    /* grid-area: sidebar; */
}

.box3 {
    background: greenyellow;
    /* grid-area: main; */
    /* overflow: auto; */

}

.box4 {
    background: pink;
    /* grid-area: foot; */
    justify-self: start;
}

.box5 {
    /* grid-area: foot2; */
    /* grid-row-start: 3;
    grid-row-end: 5; */
    align-self: end;
}